button {
  font-size: 1.5rem;



  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffa1a1;
  color:#F2F2F2;
  transition: 0.6s;
  box-shadow: 5px 5px 10px #0d00495f;
}

button:active {
  scale: 0.92;
}

button:hover {
  background: rgba(244, 214, 214, 0.663);
  color: #ffa1a1;
  box-shadow: 5px 5px 10px #1d057bc4;
}