@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #ffffff;
    color: black;
    background-size: 34%;

}

.container {

    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    text-align: center;

}


img {

    width: 85%;
    margin-top: 20px;


}

h1 {

    text-align: center;
    margin: 50px 0px;
    color: #ffa1a1;
}

footer {
    text-align: center;
    font-size: 1.5rem;
    margin: 50px 0px;
}

@media(min-width:800px){
    img {
        width: 35%;
    
    }
}
