@import url('https://fonts.googleapis.com/css?family=Sacramento');

#card {
  height: 500px;
  width: 800px;
  margin: 5em auto;
  position: fixed;
  top: -15px;
  left: 25%;
  display: flex;
  visibility: hidden;
}

#card h2 {
  font-size: 3em;
  margin: 0;
  color: pink;
  text-align: center;
  padding: 10px 15px;
}

#card p {
  font-size: 1.5em;
  text-align: justify;
  padding-left: 30px;

  padding-right: 30px;

}


.side {
  background: #eee;
  height: 550px;
  width: 400px;

  padding: 10px;
}

.side.one {
  width: 320px;
  transform: skew(10deg, 20deg);
  background: linear-gradient(90deg, #fff, #fff 40%, #ddd);
}

.side.two {
  transform: skew(10deg, -15deg);
  background: linear-gradient(-90deg, #fff, #fff 40%, #f0f0f0);
}